.app {
  text-align: center;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 20px;
  background-color: #222;
  border-bottom: 3px solid #ffdf00;
}
.nav__container{
  position: relative;
  background-color: #eee;
  height: 30px;
}

.header__item-link{
  text-decoration: none;
  position: absolute;
  left: 15px;
  bottom: 5px;
}


/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
